@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
body {
  margin: auto;
  padding: auto;
  
}
.carousel-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.carousel-item {
  width: 100% !important; /* Force each item to take full width */
  max-width: 320px; /* Optional, you can adjust the max width of each item */
  margin: 0 auto; /* Center the items */
}
